[project]
name = "project"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "jinja2>=3.1.6",
    "networkx>=3.5",
    "pandas>=2.3.3",
    "shiny>=1.5.0",
]
